<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <script type="text/javascript" th:src="@{/js/function.js}" ></script>
    <link rel="stylesheet"  th:href="@{/css/popup.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


</head>
<body id="body">
    <div class="row">
        <div class="col-3">
            <input onchange="handleChange()" id="picker" class="form-control" name="date" type="text" th:value="${date}" size="10" />
        </div>
        <div class="col-3">
            <div class="dropdown">
                <button th:text="${times[timeIndex-1]}" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a th:each="time, iter : ${times}" class="dropdown-item" th:text="${time}" th:href="'http://localhost:8092/booking/' + ${date} + '&' + ${iter.index + 1}"></a>
                </div>
            </div>`
        </div>
    </div>


    <div style="width: 50%">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 613.08 277.26">
            <defs>
                <style>
                    .red{fill:#ff0000;}
                    .green{fill:#00ff00;}
                </style>
            </defs>
            <g style="fill: white">
                <path d="M.5,276.5V1A7.23,7.23,0,0,1,3.7.77q230.81,0,461.61,0c1.06,0,2.16.27,3.19-.24H470A5.92,5.92,0,0,0,473,.74q68.61,0,137.24,0c3.45,0,3-.33,3,3.09V273.59c0,3.4,0,3.41-3.39,3.41H3.62C2.56,277,1.45,277.23.5,276.5Z" transform="translate(-0.47 -0.46)"/>
                <path class="cls-1" d="M.5,276.5q304.68,0,609.36.06c2.57,0,3.21-.58,3.2-3.18Q613,138.79,613,4.19C613,1,613,1,609.69,1q-68.49,0-137,0c-.9,0-2,.52-2.72-.47q70.74,0,141.47,0c1.63,0,2.08.22,2.08,2q-.09,136.47,0,272.94c0,1.87-.46,2.14-2.2,2.14q-304.43-.06-608.85-.09C1.87,277.45.34,278.48.5,276.5Z" transform="translate(-0.47 -0.46)"/>
                <path class="cls-1" d="M468.5.5c-.84,1-2,.47-3,.47Q233,1,.5,1C.61.85.25.48.75.49c.67,0,1.33,0,2,0Z" transform="translate(-0.47 -0.46)"/>
                <path class="cls-1" d="M159,274q-76.64,0-153.25.05c-2.27,0-2.81-.55-2.8-2.81q.1-80.49,0-161c0-2.27.56-2.8,2.81-2.8q124.37.09,248.74,0c3.27,0,3.27,0,3-3.11-.05-.5,0-1,0-1.5q0-48.37-.05-96.75c0-2.16.45-2.71,2.67-2.7q25.5.16,51,0c1.93,0,2.43.46,2.43,2.42-.07,33.17,0,66.33-.08,99.5,0,2.27.11,3.87,3,2.66a4.75,4.75,0,0,1,1.73,0q144.75,0,289.5,0c2.21,0,2.84.47,2.83,2.78q-.15,36,0,72c0,2.23-.49,2.83-2.79,2.83q-144.36-.1-288.74-.06c-3.52,0-3.52,0-3.52,3.5,0,27.5,0,55,.05,82.5,0,2.09-.49,2.55-2.56,2.55Q236,274,159,274Z" transform="translate(-0.47 -0.46)"/>
            </g>

            <g th:if="${test == null}" th:each="i: ${#numbers.sequence(0, 5)}" type="button" data-toggle="modal" th:data-target="${allTransaction[i].status == 0 ? '#myModal' : ''}">
                <path th:class="${allTransaction[i].status == 0 ? 'green' : 'red'}"
                      th:id="path+${i}"
                      th:d="${allRoomMap[i].d}"
                      th:transform="${allRoomMap[i].transform}"
                      th:data-date="${allTransaction[i].date}"
                      th:data-start="${allTransaction[i].startTime}"
                      th:data-end="${allTransaction[i].endTime}"
                      th:onclick="|setModal('${allTransaction[i].room_id}', this.getAttribute('data-date'), this.getAttribute('data-start'), this.getAttribute('data-end'))|"/>
                <text th:x="${allRoomMap[i].x}" th:y="${allRoomMap[i].y}" style="fill: black" th:text="${allTransaction[i].room_id}"></text>
            </g>
        </svg>
    </div>

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">จองห้อง...</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/booking/07-12-2020&1}" method="POST">
                            <div class="form-group">
                                <label for="show-id">Room:</label>
                                <input class="form-control" id="show-id" type="text" disabled>
                            </div>
                            <div class="form-group">
                                <label for="show-date">Date:</label>
                                <input class="form-control" id="show-date" type="text" disabled>
                            </div>
                            <div class="form-group ">
                                <label>duration:</label>
                                <input class="form-control" id="show-duration" type="text" disabled>
                            </div>
                            <input name="room_id" class="form-control" id="room_id" type="text" hidden>
                            <input name="date" class="form-control" id="date" type="text" hidden >
                            <input name="startTime" class="form-control" id="start" type="time" hidden>
                            <input name="endTime" class="form-control" id="end" type="time" hidden >
                            <input name="status" class="form-control" type="text" value="0" hidden>

                            <input type="submit" class="btn btn-success" value="จอง">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function(){
          var date_input=$('input[name="date"]'); //our date input has the name "date";
          var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
          var options={
            format: 'dd-mm-yyyy',
            todayHighlight: true,
            autoclose: true,
            startDate: new Date(),
            endDate: new Date(new Date().setDate(new Date().getDate() + 4)),
          };
          date_input.datepicker(options);

        })
    </script>
    </body>
    </html>
</body>
</html>